---
- name: Configure Gentoo WSL Environment
  hosts: localhost
  connection: local
  become: yes
  tasks:
    - name: Synchronize portage tree
      community.general.portage:
        sync: yes
      tags:
        - sync

    - name: Install essential packages
      community.general.portage:
        package:
          - app-admin/sudo
          - app-editors/vim
          - dev-vcs/git
          - dev-debug/strace
          - net-analyzer/tcpdump
        state: present
      tags:
        - packages

    - name: Configure sudo for wheel group
      lineinfile:
        path: /etc/sudoers
        regexp: '^# %wheel ALL=\(ALL:ALL\) ALL'
        line: '%wheel ALL=(ALL:ALL) ALL'
        validate: 'visudo -cf %s'
      tags:
        - sudo

    - name: Clean unnecessary dependencies
      community.general.portage:
        depclean: yes
      tags:
        - cleanup
